/*
 *= require bootstrap
 *= require ./vendor/colorbox
 *= require_self
 */

@import 'compass';

body {
  margin-bottom: 50px;

  .container-fluid {
    margin: auto;
    max-width: 950px;
  }
}

#logo {
  position: absolute;
  top: 30px;
  right: 15px;

  span {
    font-family: "prenton";
    font-size: 18px;
    color: #3d3d3d;
    text-transform: uppercase;
    vertical-align: bottom;
  }
}

@media (min-width: 786px) {
  #logo {
    right: 25px;
  }
}

@media (min-width: 996px) {
  #logo {
    right: 35px;
  }
}

@media (min-width: 1200px) {
  #logo {
    right: 45px;
  }
}

.nav {
  background-color: transparent;
  border: 0;

  margin-top: 120px;
  margin-bottom: 30px;

  li {
    a {
      font-family: "prenton";
      font-size: 22px;
      text-decoration: none;
      color: #a8a9a7;
      text-transform: uppercase;

      &:hover {
        color: #dd5540 !important;
        background-color: transparent;
      }
    }

    &.current {
      a {
        color: #dd5540 !important;
      }
    }
  }
}

.mood {
  width: 100%;
  margin-bottom: 50px;
}


.container-fluid {
  font-family: "adobe-garamond-pro";
  font-size: 18px;

  h2 {
    font-family: "prenton";
    text-transform: uppercase;
    color: #a8a9a7;
    font-size: 20px;
  }

  h3, h4, h5 {
    font-family: "adobe-garamond-pro";
    font-weight: 700;
  }

  .trainee, .owner {
    margin-top: 20px;
  }

  address.cursive {
    font-style: italic;
  }

  #office p {
    font-family: "prenton";
    font-size: 21pt;
    text-transform: uppercase;
  }

  table.info {
    margin-top: 20px;
    width: 100%;

    tr {
      border-collapse: collapse;

      td {
        vertical-align: top;
        padding: 5px 10px;

        &:nth-child(0n+1) {
          font-weight: 700;
          white-space: nowrap;
        }

        ul {
          margin: 0;
          padding: 0;
        }
      }

      &.border {
        border-top: 1px solid #000;
      }
    }
  }

  table.architecture {
    margin-top: 20px;

    tr {
      border-collapse: collapse;

      &.title td:hover {
        background-color: transparent !important;
      }

      td {
        vertical-align: top;
        padding-top: 10px;

        &.desc {
          padding-right: 10px;
        }

        &.short{
          white-space: nowrap;
        }

        ul {
          margin: 0;
          padding: 0;
        }

        h3 {
          font-size: 18px;
        }

        h3, p {
          margin: 0;
        }

        a {
          color: #000;
          text-decoration: underline;

          &:hover {
            text-decoration: underline;
          }
        }

        .other {
          display: none;
        }
      }

      &.border {
        border-top: 1px solid #000;
      }
    }

  }
}

.container-fluid {
  footer {
    margin-top: 75px;
    font-size: 12px;
    a {
      color: #000;
    }
  }
}
