- wrap_layout :base do
  #logo
    %span Architekturbüro
    = link_to(image_tag('giger-architektur.jpg', alt: 'Giger Architektur'), '/')

  = partial 'navigation'

  %img.mood.img-responsive{ src: "/images/moods/#{ current_page.path.gsub('.html', '') }.jpg" }

  .container-fluid
    = yield

  .container-fluid
    %footer
      %hr
      .row
        .col-lg-10
          Copyright &copy; 2014 Architektur Giger · Alle Rechte vorbehalten ·
          %a{ href: 'http://www.flinkfinger.com' } Webentwicklung von FlinkFinger GmbH, Bremgarten ·
          Dieses Werk ist lizenziert unter einer
          %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-nc-sa/4.0/' }
            Creative Commons Namensnennung - Nicht-kommerziell - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
        .col-lg-2
          %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by-nc-sa/4.0/' }
            %img{ alt: 'Creative Commons Lizenzvertrag', style: 'border-width:0', src: 'http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png' }

