<% wrap_layout :base do %>
  <div id="logo">
    <span>Architekturbüro</span>
    <%= image_tag 'giger-architektur.jpg', alt: 'Giger Architektur' %>
  </div>

  <%= partial 'navigation' %>

  <div id="mood">
  </div>

  <div id="content">
    <%= yield %>
  </div>
<% end %>
