---
layout: 'default'
title: 'Ausbildung'
keywords: 'Zeichner, Architektur, Lehrlinge'
description: 'Ausbildung von Lehringen als Zeichner im Bereich Architektur'
---
.trainees
  %p Zeichner, Zeichnerin EFZ Fachrichtung Architektur
  .trainee
    %img{alt: "Thomas Brodbeck", src: "/images/thomas_brodbeck.jpg"}/
    %p Thomas Brodbeck, 4. Lehrjahr
  .trainee
    %img{alt: "Ermina Osmanovic", src: "/images/emina_osmanovic.jpg"}/
    %p Emina Osmanovic, 1. Lehrjahr
%h2 Ausbildung
%p Ausbildung von Lernenden.
