---
layout: 'default'
title: 'Ausbildung'
keywords: 'Zeichner, Architektur, Lehrlinge'
description: 'Ausbildung von Lehringen als Zeichner im Bereich Architektur'
---

<div class="trainees">
  <p>Zeichner, Zeichnerin EFZ Fachrichtung Architektur</p>

  <div class="trainee">
    <img src="/images/thomas_brodbeck.jpg" alt="Thomas Brodbeck">
    <p>Thomas Brodbeck, 4. Lehrjahr</p>
  </div>

  <div class="trainee">
    <img src="/images/emina_osmanovic.jpg" alt="Ermina Osmanovic">
    <p>Emina Osmanovic, 1. Lehrjahr</p>
  </div>
</div>

<h2>Ausbildung</h2>
<p>Ausbildung von Lernenden.</p>
