---
layout: 'default'
title: 'Baumanagement'
keywords: ''
description: ''
---
<h2>Baumanagement</h2>
<p>Ausführungsplanung und Ausführung mit Bauleitung eigener Bauten, Kostenschätzung, KV, Bauleitung und Abrechnung
   für Architekturbüros und Generalbauunternehmungen.</p>

<table>
  <tr class="border">
    <td>Prioritäten</td>
    <td></td>
    <td>
      <ul>
        <li>Kosten- und Termineinhaltung</li>
        <li>Gute Qualität unter Berücksichtigung der Konkurrenz</li>
        <li>Zufriedenheit der Bauherrschaft</li>
        <li>Begleitung nach Abschluss des Projektes bis und mit der zweijährigen Garantie</li>
      </ul>
    </td>
  </tr>
</table>
