---
layout: 'default'
title: 'Baumanagement'
keywords: ''
description: ''
---
<h2>Baumanagement</h2>
<p>...</p>

<table>
  <tr>
    <td>Prioritäten</td>
    <td>
      <ul>
        <li>Kosten- und Termineinhaltung</li>
        <li>Gute Qualität unter Berücksichtigung der Konkurrenz</li>
        <li>Zufriedenheit der Bauherrschaft</li>
        <li>Begleitung nach Abschluss des Projektes bis und mit der zweijahres Garantie</li>
      </ul>
    </td>
  </tr>
</table>