---
layout: 'default'
title: 'Dienstleistungen'
keywords: 'Dienstleistungen, Bauherrenberatung, Baumanagement, Kosten, Termine, Begleitung'
description: 'Unabhängige und professionelle Bauherrenberatung in allen Belangen rund ums Bauen. Ausfühhrungsplanung und Ausführung mit Bauleitung'
---
.row
  .col-lg-12
    %h2 Baumanagement
    %p
      Ausführungsplanung und Ausführung mit Bauleitung eigener Bauten, Kostenschätzung, KV, Bauleitung und Abrechnung
      für Architekturbüros und Generalbauunternehmungen.

    %table.info
      %tr
        %td Prioritäten
        %td
        %td
          %ul
            %li Kosten- und Termineinhaltung
            %li Gute Qualität unter Berücksichtigung der Konkurrenz
            %li Zufriedenheit der Bauherrschaft
            %li Begleitung nach Abschluss des Projektes bis und mit der zweijährigen Garantie
%hr

.row
  .col-lg-12
    %h2 Bauherrenberatung
    %p
      Unabhängige und professionelle Bauherrenberatung in allen Belangen rund ums Bauen. Begleitung von Bauherrschaften
      während der Planung und Ausführung von Fremdobjekten in Form von unabhängiger und seriöser Beratung.
    %p
      Durchsetzung der allseitigen Wünsche und Leistungen bei direktem Auftragsverhältnis (offene Bauabrechnung)
      sowie bei Verpflichtung durch Generalunternehmung (Pauschalpreis).
