---
layout: 'default'
title: 'Firma'
keywords: ''
description: ''
---
<h2>Firma</h2>

<p>Gründung 1982 in Mühlau als Einzelfirma mit sporadisch internen und externen Mitarbeiter.
  Thomas Giger, geb 1956, in Oberlunkhofen aufgewachsen, seit 2002 wohnhaft in Jonen,
  gelernter Hochbauzeichner und Maurer. 1982 Diplomabschluss als eidg. dipl. Bauführer
  und Techniker TS in Unterentfelden BZU.</p>

<hr>

<h4>Thomas Giger</h4>
<h5>Profil</h5>

<p>Durch die selbständige Erwerbstätigkeit mit einem kleinen Architekturbüro konnte ich über fast 30 Jahre meine
  Vielseitigkeit als Planer und Bautechniker von der Projekt- über die Realisierungsphase bis hin zur Übergabe des
  Objektes unter Beweis stellen.</p>

<p>Ein Flair für das Praktische, das ich mir durch meine Ausbildung als Hochbauzeichner, der Maurerlehre sowie dem
  Abschluss an der Bauschule Aarau erworben habe, prägt meine Arbeit und hat mir für die Bauleitung wertvolle Dienste
  geleistet.</p>

<p>Die Bauherrschaften schätzten meine seriöse und exakte Arbeitsweise sowie das praktische und effiziente Vorgehen.</p>

<p>Vor anspruchsvollen und unangenehmen Arbeiten schrecke ich nicht zurück. Schon öfters habe ich Kundenanliegen vor
  Behörden und Verwaltung sachlich und kompetent vertreten. Mein Gemeinderatsmandat lieferte mir für dieses
  Tätigkeitsfeld wertvolle Erfahrungen und hat mein Verhandlungsgeschick gestärkt.</p>

<p>Organisation und Ordnung sind meine Stärken und lassen mich in meiner Arbeitsweise schnell zum Ziel kommen. Als
  Familientyp ist es mir wichtig, in einem harmonischen Team zu arbeiten.</p>

<table>
  <tr class="border">
    <td>Berufliche Tätigkeiten</td>
    <td>seit 1982</td>
    <td>Inhaber eines Architekturbüros in Mühlau (AG) zeitweise mit Hochbauzeichnern im Angestelltenverhältnis oder
      mit externen Zeichnern.
    </td>
  </tr>
  <tr>
    <td></td>
    <td>seit 1988</td>
    <td>Lehrlingsausbildung für Hochbauzeichner.</td>
  </tr>
  <tr>
    <td></td>
    <td>seit 2010</td>
    <td>Zeichner EFZ Fachrichtung Architektur.</td>
  </tr>


  <tr class="border">
    <td>Ausbildung</td>
    <td>1982</td>
    <td>Diplomabschluss, eidg. dipl. Bauführer, Techniker TS, Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1980-1981</td>
    <td>Praktikum, Architekturbüro R. Kohler, Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1979</td>
    <td>Praktikum, Comolli AG, Bremgarten.</td>
  </tr>
  <tr>
    <td></td>
    <td>1978-1982</td>
    <td>Kantonale Bauschule (Technikerschule), Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1976-1978</td>
    <td>Lehre als Maurer, Comolli AG, Bremgarten.</td>
  </tr>
  <tr>
    <td></td>
    <td>1974-1976</td>
    <td>Lehre als Hochbauzeichner, A. Rüssli, Wohlen.</td>
  </tr>
  <tr>
    <td></td>
    <td>1972-1974</td>
    <td>Lehre als Hochbauzeichner, F. Doswald, Bremgarten.</td>
  </tr>


  <tr class="border">
    <td>Weiterbildung</td>
    <td>Sept 2009</td>
    <td>Grundkurs in Minergie-Fachpartnerschaft, Brugg-Windisch.</td>
  </tr>
  <tr>
    <td></td>
    <td>Sept 1992</td>
    <td>Kurs Einführung in die Liegenschaftsschätzung,
      Walter Kupferschmid, dipl. Architekt HTL / STV.
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Nov 1988</td>
    <td>Ausbildungskurs für Lehrmeister, Unterentfelden.</td>
  </tr>

  <tr class="border">
    <td>Politische Tätigkeiten</td>
    <td>1994-1998</td>
    <td>Gemeinderat Buttwil (AG), parteilos
      Ressort Hochbau, Wald- und Forstwirtschaft, Ortsbürgerwesen.
    </td>
  </tr>

  <tr class="border">
    <td>Ausserberufliche Tätigkeiten</td>
    <td>1994-2008</td>
    <td>Präsident VWS (Verein Wyssebacher Sagi), Gründung des Vereins, Projektentwicklung und Leitung der Restauration
    </td>
  </tr>

  <tr class="border">
    <td>Sprachen</td>
    <td></td>
    <td>
      <table class="inner-table">
        <tr>
          <td>Deutsch</td>
          <td>Muttersprache</td>
        </tr>
        <tr>
          <td>Englisch</td>
          <td>Schulkenntnisse</td>
        </tr>
        <tr>
          <td>Französisch</td>
          <td>Schulkenntnisse</td>
        </tr>
        <tr>
          <td>Italienisch</td>
          <td>Schulkenntnisse</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="border">
    <td>Persönliche Daten </td>
    <td></td>
    <td>
      <table class="inner-table">
        <tr>
          <td>Geburtsdatum</td>
          <td>25. August 1956</td>
        </tr>
        <tr>
          <td>Zivilstand</td>
          <td>Verheiratet 4 Kinder</td>
        </tr>
        <tr>
          <td>Interessen</td>
          <td>Familie, Gesang, Malen, Sport und Lesen</td>
        </tr>
      </table>
    </td>
  </tr>


  <tr class="border">
    <td>Weitere Informationen</td>
    <td></td>
    <td>
      Auf Wunsch sind weitere Informationen verfügbar:
      <ul>
        <li>Fähigkeitszeugnis: Maurer, Hochbauzeichner</li>
        <li>Diplomzeugnis: Kantonale Bauschule, Aarau Eidg. dipl. Bauführer, Techniker TS</li>
        <li>Lehrmeisterberechtigung: Recht zur Ausbildung von Lehrlingen</li>
        <li>Arbeitszeugnis: Architekturbüro R. Kohler, Aarau</li>
        <li>Kurs-Attest: Grundkurs in Minergie-Fachpartnerschaft, Brugg, Einführung in die Liegenschaftsschätzung</li>
        <li>Kundenzeugnis: Renovation, A. Bertschi Annoncen AG, Adliswil</li>
        <li>Angaben zu den ausgebildeten Lehrlingen</li>
        <li>Referenzliste 1982-1999</li>
        <li>Referenzliste 2000-2011</li>
        <li>Chronik Wyssebacher Sagi, Restauration, 1996-2003</li>
      </ul>
    </td>
  </tr>

</table>
