---
layout: 'default'
title: 'Firma'
keywords: 'Gründung, Qualifikationen, Philosophie'
description: 'Gründung 1982 in Mühlau. Alle Leistungen aus einer Hand. Ausbildung von Lehrlingen'
---
.row
  .col-lg-12
    %a{ name: 'philosophie'}
    %h2 Philosophie
    %h4 Unsere Stärke, Ihr Vorteil
    %p
      Alle Leistungen aus erster Hand. Für Ihr Vorhaben begleiten wir Sie von der ersten Besprechung
      bis zur Übergabe des Objektes mit der gleichen Person.

%hr

.row
  .col-lg-12
    %a{ name: 'geschichte'}
    %h2 Geschichte
    %p
      Gründung 1982 in Mühlau als Einzelfirma mit sporadisch internen und externen Mitarbeiter.
      Thomas Giger, geb 1956, in Oberlunkhofen aufgewachsen, seit 2002 wohnhaft in Jonen,
      gelernter Hochbauzeichner und Maurer. 1982 Diplomabschluss als eidg. dipl. Bauführer
      und Techniker TS in Unterentfelden BZU. Weiterbildung bei Minergie-Fachpartnerschaft in
      Brugg-Windisch, sowie Liegenschaftsschätzung bei W. Kupferschmid (Diplom Architekt HTL/STYV).
      Ausbildungskurs für Lehrmeister in Unterentfelden.

%hr

.row
  .col-lg-12
    %a{ name: 'ausbildung'}
    %h2 Ausbildung
    %p Ausbildung von Lernenden (Zeichner, Zeichnerin EFZ Fachrichtung Architektur).

.row
  .col-sm-4
    %img.trainee.img-responsive{ alt: 'Thomas Brodbeck', src: '/images/thomas_brodbeck.jpg' }
    %h4 Thomas Brodbeck, 4. Lehrjahr
  .col-sm-8
    %img.trainee.img-responsive{ alt: 'Thomas Brodbeck', src: '/images/arbeit_thomas_brodbeck.jpg' }

%hr

.row
  .col-sm-4
    %img.trainee.img-responsive{ alt: 'Ermina Osmanovic', src: '/images/emina_osmanovic.jpg' }
    %h4 Emina Osmanovic, 1. Lehrjahr
  .col-sm-8
    %img.trainee.img-responsive{ alt: 'Ermina Osmanovic', src: '/images/arbeit_emina_osmanovic.jpg' }

%hr

.row
  .col-lg-12
    %a{ name: 'jobs'}
    %h2 Jobs
    %p Für Projekt- und Ausführungsbearbeitung von verschiedenen Objekten im Um- und Neubaubereich suchen wir nach Übereinkunft

    %h4 Hochbauzeichner/in
    %p Ihr Profil:

    %ul
      %li Geübt im Umgang mit CAD (wenn möglich mit Elite Messerli), sowie Routine mit MS-Office.
      %li Mehrjährige Erfahrung und selbstständiges Arbeiten erwünscht.

    %p Teilzeitarbeit eventuell möglich. Schriftliche Bewerbung an:

    %address.cursive
      Architekturbüro Th. Giger
      %br/
      Bachweg 1
      %br/
      5642 Mühlau
      %br/
