---
layout: 'default'
title: 'Firma'
keywords: 'Gründung, Qualifikationen'
description: 'Gründung 1982 in Mühlau als Einzelfirma mit sporadisch internen und externen Mitarbeiter.'
---
<h2>Firma</h2>

<p>Gründung 1982 in Mühlau als Einzelfirma mit sporadisch internen und externen Mitarbeiter.
  Thomas Giger, geb 1956, in Oberlunkhofen aufgewachsen, seit 2002 wohnhaft in Jonen,
  gelernter Hochbauzeichner und Maurer. 1982 Diplomabschluss als eidg. dipl. Bauführer
  und Techniker TS in Unterentfelden BZU.</p>

<table>
  <tr class="border">
    <td>Berufliche Tätigkeiten</td>
    <td>seit 1982</td>
    <td>Inhaber eines Architekturbüros in Mühlau (AG) zeitweise mit Hochbauzeichnern im Angestelltenverhältnis oder
      mit externen Zeichnern.
    </td>
  </tr>
  <tr>
    <td></td>
    <td>seit 1988</td>
    <td>Lehrlingsausbildung für Hochbauzeichner.</td>
  </tr>
  <tr>
    <td></td>
    <td>seit 2010</td>
    <td>Zeichner EFZ Fachrichtung Architektur.</td>
  </tr>


  <tr class="border">
    <td>Ausbildung</td>
    <td>1982</td>
    <td>Diplomabschluss, eidg. dipl. Bauführer, Techniker TS, Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1980-1981</td>
    <td>Praktikum, Architekturbüro R. Kohler, Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1979</td>
    <td>Praktikum, Comolli AG, Bremgarten.</td>
  </tr>
  <tr>
    <td></td>
    <td>1978-1982</td>
    <td>Kantonale Bauschule (Technikerschule), Aarau.</td>
  </tr>
  <tr>
    <td></td>
    <td>1976-1978</td>
    <td>Lehre als Maurer, Comolli AG, Bremgarten.</td>
  </tr>
  <tr>
    <td></td>
    <td>1974-1976</td>
    <td>Lehre als Hochbauzeichner, A. Rüssli, Wohlen.</td>
  </tr>
  <tr>
    <td></td>
    <td>1972-1974</td>
    <td>Lehre als Hochbauzeichner, F. Doswald, Bremgarten.</td>
  </tr>


  <tr class="border">
    <td>Weiterbildung</td>
    <td>Sept 2009</td>
    <td>Grundkurs in Minergie-Fachpartnerschaft, Brugg-Windisch.</td>
  </tr>
  <tr>
    <td></td>
    <td>Sept 1992</td>
    <td>Kurs Einführung in die Liegenschaftsschätzung,
      Walter Kupferschmid, dipl. Architekt HTL / STV.
    </td>
  </tr>
  <tr>
    <td></td>
    <td>Nov 1988</td>
    <td>Ausbildungskurs für Lehrmeister, Unterentfelden.</td>
  </tr>

  <tr class="border">
    <td>Politische Tätigkeiten</td>
    <td>1994-1998</td>
    <td>Gemeinderat Buttwil (AG), parteilos
      Ressort Hochbau, Wald- und Forstwirtschaft, Ortsbürgerwesen.
    </td>
  </tr>

  <tr class="border">
    <td>Ausserberufliche Tätigkeiten</td>
    <td>1994-2008</td>
    <td>Präsident VWS (Verein Wyssebacher Sagi), Gründung des Vereins, Projektentwicklung und Leitung der Restauration
    </td>
  </tr>

  <tr class="border">
    <td>Persönliche Daten </td>
    <td></td>
    <td>
      <table class="inner-table">
        <tr>
          <td>Geburtsdatum</td>
          <td>25. August 1956</td>
        </tr>
        <tr>
          <td>Zivilstand</td>
          <td>Verheiratet 4 Kinder</td>
        </tr>
        <tr>
          <td>Interessen</td>
          <td>Familie, Gesang, Malen, Sport und Lesen</td>
        </tr>
      </table>
    </td>
  </tr>

</table>
