---
layout: 'default'
title: 'Immobilien'
keywords: 'Immobilien, Kaufen, Verkauf'
description: ''
---
%h2 Immobilien
%h3 Eine Loggia über dem Lago Maggiore

%address
  Via Moncucco 31
  %br
  21016 Luino Italien

%p Eine Oase der Erholung bietet dieses schöne Juwel (Viletta) in Luino mit fantastischer Seesicht, sowie Sicht auf die Westküste des Lago Maggiore und angrenzend auf die herrliche Bergwelt der Umgebung des Parco Nazionale della Val Grande, mit den Bergspitzen M.Zeda (2156), C.ma della Laurasca (2195), P.Proman (2098), etc.

%p Das 4.5 Zimmer Haus ist am Südhang gelegen und steht auf einem grosszügigen Grundstück von ca. 1000 m2 inmitten von farbenprächtigen und herrlichduftenden Pflanzen und Sträuchern.

%br
%br

.row
  .col-lg-2
    %a.gallery{ href: '/images/estates/loggia_1.jpg', rel: 'group-1' }
      %img.img-responsive{ src: '/images/estates/loggia_1.jpg'}
  .col-lg-2
    %a.gallery{ href: '/images/estates/loggia_2.jpg', rel: 'group-1' }
      %img.img-responsive{ src: '/images/estates/loggia_2.jpg'}
  .col-lg-2
    %a.gallery{ href: '/images/estates/loggia_3.jpg', rel: 'group-1' }
      %img.img-responsive{ src: '/images/estates/loggia_3.jpg'}
  .col-lg-2
    %a.gallery{ href: '/images/estates/loggia_4.jpg', rel: 'group-1' }
      %img.img-responsive{ src: '/images/estates/loggia_4.jpg'}
  .col-lg-2
    %a.gallery{ href: '/images/estates/loggia_5.jpg', rel: 'group-1' }
      %img.img-responsive{ src: '/images/estates/loggia_5.jpg'}

%br
%br

%ul
  %li Die Sonne scheint im Sommer von 08:15 bis 21:30.
  %li In 10-12 Gehminuten ist man beim See.
  %li Der erste Nachbar ist ca. 80m entfernt.
  %li Verkaufsgrund: Altershalber

%p Diverse Unterhalts-und Erneuerungsarbeiten wurden in den letzten 15 Jahren vorgenommen: momentaner Zustand sehr gut

%ul
  %li Neue Gasheizung Anf. 2014
  %li Fenster-Rolladen elektrisch, Jalousie stufenlos verstellbar
  %li Insektenschutz bei allen Fenster und Türen
  %li Ausbau Hobbyraum UG
  %li Div. in Umgebungsgestaltung

%br
%br

%table.table
  %tr
    %td Zimmer
    %td 4.5
  %tr
    %td Wohnfläche
    %td 134 m2
  %tr
    %td Grundstück
    %td ca. 1000 m2
  %tr
    %td Kubatur
    %td 868 m3

%p
  %em Verfügbar nach Vereinbarung.

%br

%p
  Verkaufspreis
  %strong EUR  550`000.--

%br

%h3 Was bietet das Verkaufsobjekt sonst noch alles ?

%ul
  %li Mitbenützung Schwimmbad 9 x 19 m, mit Kinderbecken (Zugang direkt ab Haustüre 8m)
  %li Terrase über 50 m2
  %li Separate Garagen in Tiefgarage mit Deckensektionaltoren, abschliessbar (22 + 44 m2, Höhe 2.45m, Länge 7.60m). Bietet Platz für 2 grosse Autos, 6-8 Motorräder, Werkstatt etc.
  %li Separate Zufahrt vors Haus
  %li 4 Autoabstellplätze vor dem Haus
  %li Zusätzlicher Parkplatz beim Condominio (Haus nebenan)
  %li Separate Zugänge zu Garagen und Parkplatz mit elektrisch abschliessbaren Türen
  %li Abwasch- und Waschmaschine vorhanden
  %li Keramik-Platten Bodenbeläge in allen Räumen inkl. Nebenrraum

%h3 Was bietet Luino?

%ul
  %li Alle Einkaufsmöglichkeiten (Mittwoch Markt)
  %li Schiffssteg
  %li Bahnhof
  %li Kultur (Konzerte, Tanz, Kulinarisches im Freien, Clubs jeglicher Ausrichtung, etc.)
  %li Tolle Grotti mit gepflegter Küche und feinem Grappa
  %li Vieles mehr

%h3 Kontakt

%address
  Thomas Giger
  %br
  Architektur Büro Mühlau
  %br
  079/ 352 32 34

%p
  Das Inserat ist auf
  %a{ href: 'http://www.homegate.ch/buy/104663434?a=default&l=ubs', target: 'blank' } www.homegate.ch
  aufgeschaltet für weitere Angaben.
