---
layout: 'default'
title: 'Jobs'
keywords: 'Jobs, Zeichner, Hochbauzeichner'
description: 'Offene Jobs bei Architekturbüro Giger in Mühlau'
---
<h2>Jobs</h2>
<p>Für Projekt- und Ausführungsbearbeitung von verschiedenen Objekten im Um- und Neubaubereich suchen wir nach Übereinkunft</p>

<h1>Hochbauzeichner/in</h1>

<p>Ihr Profil:</p>
<ul>
  <li>Geübt im Umgang mit CAD (wenn möglich mit Elite Messerli), sowie Routine mit MS-Office.</li>
  <li>Mehrjährige Erfahrung und selbstständiges Arbeiten erwünscht.</li>
</ul>

<p>Teilzeitarbeit eventuell möglich.</p>

<p>Schriftliche Bewerbung an:</p>

<address>
Architekturbüro Th. Giger<br/>
Bachweg 1<br/>
5642 Mühlau<br/>
</address>