---
layout: 'default'
title: 'Jobs'
keywords: 'Jobs, Zeichner, Hochbauzeichner'
description: 'Offene Jobs bei Architekturbüro Giger in Mühlau'
---
%h2 Jobs
%p Für Projekt- und Ausführungsbearbeitung von verschiedenen Objekten im Um- und Neubaubereich suchen wir nach Übereinkunft
%h1 Hochbauzeichner/in
%p Ihr Profil:
%ul
  %li Geübt im Umgang mit CAD (wenn möglich mit Elite Messerli), sowie Routine mit MS-Office.
  %li Mehrjährige Erfahrung und selbstständiges Arbeiten erwünscht.
%p Teilzeitarbeit eventuell möglich.
%p Schriftliche Bewerbung an:
%address
  Architekturbüro Th. Giger
  %br/
  Bachweg 1
  %br/
  5642 Mühlau
  %br/
