---
layout: 'default'
title: 'Kontakt'
keywords: ''
description: ''
---
<img class="thomas-giger" src="/images/thomas_giger.jpg" alt="Thomas Giger">

<h2>Kontakt</h2>

<h4>Geschäft</h4>

<address>
  Architekturbüro Thomas Giger
  <br>
  Bachweg 1
  <br>
  5642 Mühlau
  <br>
  Tel. +41 56 668 19 52 Fax +41 56 668 19 77
  <br>
  <a href="mailto:info@giger-architektur.ch">info@giger-architektur.ch</a>
</address>
