---
layout: 'default'
title: 'Kontakt'
keywords: 'Kontakt, Telefon, Fax, Email'
description: 'Kontaktieren sie das Architekturb端ro Giger in M端hlau'
---
.row
  .col-lg-12
    %h2 Kontakt

    %address
      Architekturb端ro Thomas Giger
      %br
      Bachweg 1
      %br
      5642 M端hlau
      %br
      Tel. +41 56 668 19 52
      %br
      Fax +41 56 668 19 77
      %br
      %a{ href: 'mailto:info@giger-architektur.ch' } info@giger-architektur.ch

.row
  .col-lg-12
    #map

%script{ src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&callback=initializeMap' }
