---
layout: 'default'
title: 'Kontakt'
keywords: 'Kontakt, Telefon, Fax, Email'
description: 'Kontaktieren sie das Architekturbüro Giger in Mühlau'
---
.row
  .col-sm-5
    %h2 Kontakt
    %h4 Geschäft

    %address
      Architekturbüro Thomas Giger
      %br
      Bachweg 1
      %br
      5642 Mühlau
      %br
      Tel. +41 56 668 19 52
      %br
      Fax +41 56 668 19 77
      %br
      %a{ href: 'mailto:info@giger-architektur.ch' } info@giger-architektur.ch

  .col-sm-7
    %img.img-responsive.owner.thomas-giger{ alt: 'Thomas Giger', src: '/images/thomas_giger.jpg' }
