---
layout: 'default'
title: 'Kontakt'
keywords: 'Kontakt, Telefon, Fax, Email'
description: 'Kontaktieren sie das Architekturb端ro Giger in M端hlau'
---
.row
  .col-sm-5
    %h2 Kontakt

    %address
      Architekturb端ro Thomas Giger
      %br
      Bachweg 1
      %br
      5642 M端hlau
      %br
      Tel. +41 56 668 19 52
      %br
      Fax +41 56 668 19 77
      %br
      %a{ href: 'mailto:info@giger-architektur.ch' } info@giger-architektur.ch

